.container-1{
    border: 1px solid black;
     width: 75%;
     margin: 40 auto;
     text-align: center;
}



.flex-box-container-1{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
}
